{#
   Copyright 2015 VMware, Inc.  All rights reserved.
   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#} 
cluster:
  name: {{ cluster_name }}
node:
  name: {{ inventory_hostname }}
network:
  publish_host: {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
discovery:
  zen:
    ping:
      multicast:
        enabled: false
      unicast:
        hosts:
{% for host in groups['elasticsearch'] %}
          - {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
{% endfor %}
